<h1 style="color:red; border:1px solid red;">Hola, <%= @name %></h1>
<p>Bienvenido a mi aplicación hecha en Rails.<br>
</p>
<p>Te invito a que busques más sobre mailers en <a href="<%= @url %>">google</a></p>
<p>Gracias por darme tu email.</p>