/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require libs/normalize
 *
 */

@import "libs/breve";

html {
	font-size:16px; /*Se le indica al explorador que siempre debe iniciar en 16px.*/
	height:100%;
	body {
		font:normal 62.5% "Tahoma", "Arial"; /*Ahora se usan em para medir las fuentes en vez de px. 1em es igual a 10px*/ 
		height:100%;
		img, video, audio {
			display:block;
		}
	}
}