<% content_for :stylesheets do %>

<% end %>

<section class="index">
	<span class="name"></span>
	<span class="email"></span>
	<span class="password"></span>
	<form>
		<input type="text" id="input_name">
		<input type="text" id="input_email">
		<input type="password" id="input_password">
		<input type="submit">
	</form>
	<span class="name_dos"></span>
	<span class="email_dos"></span>
	<span class="password_dos"></span>
</section>

<% content_for :javascripts do %>

<% end %>