<% content_for :stylesheets do %>

<% end %>

<section class="index">
	<form action="/correo" method="get">
		<input type="text" id="name" name="name">
		<input type="text" id="email" name="email">
		<input type="submit">
	</form>
</section>

<% content_for :javascripts do %>

<% end %>